<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/comprensionlectora</property>
    <property name="hibernate.connection.username">user_comprension_lectora</property>
    <property name="hibernate.connection.password">comprensionlectora</property>
    <!-- 
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
     -->
    <property name="hibernate.show_sql">false</property>
    <mapping resource="mx/com/juan/camacho/entidadesdb/LevelTest.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/Option.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/TiempoOtro.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/Blog.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/Test.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/UserappQuestion.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/Menu.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/Userapp.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/Level.hbm.xml"/>
    <mapping resource="mx/com/juan/camacho/entidadesdb/Question.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
